body {
    margin: 40px;
  }

    .wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: [col] auto [col] auto [col] auto [col] auto;
        grid-template-rows: [row] auto [row] auto [row] ;
        background-color: #fff;
        color: rgb(74, 74, 74);
    }

    .box {
        background-color: rgb(74, 74, 74);
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }
    .tabcontent{
        display: none;
    }
    .tabcontent table{
        display: none;
    }
    .Web{
        font-size: 22pt;
        font-family: sans-serif;
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
      .avaliacao{
        font-size: 22pt;
        font-family: sans-serif;
        margin: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
    .logo{
        margin: 0px;
        max-width: 150px;
        display: block;
        
    }
    .cps{
            display: flex;
            justify-content: center;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
    }
    .conteudo{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        height: auto;
      }

      .a {
          grid-column: col / span 2;
          grid-row: row ;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
      .b {
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-column: col 3 / span 2 ;
        grid-row: row ;
      }
      .c {
        height: 90%;
        grid-column: col ;
        grid-row: row 2 ;
    }
      .d {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        height: 80%;
        grid-column: col 2 / span 3 ;
        grid-row: row 2 ;
        background-color: #FFF;
      }

      .e {
          grid-column: col / span 4;
          grid-row: row 3;
      }